.single-song-container {
    width: 15vw;
    height: 15vw;
}

.single-song-info {
    width: 15vw;
    height: 15vw;
    position: relative;
}
.single-song {
    font-size: 0em;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
}

.single-song:hover {
    font-size: 1em;
    font-style: bold;
    color: white;
    opacity: 1;
}

.single-song-texts {
    opacity: 0;
}

.single-song-texts:hover {
    opacity: 1;

}